# Application
ENVIRONMENT=development

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=global_intelligence
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me

# Airflow
AIRFLOW_HOME=./airflow

# APIs
GDELT_BASE_URL=https://api.gdeltproject.org
OPEN_METEO_BASE_URL=https://api.open-meteo.com
WORLD_BANK_BASE_URL=https://api.worldbank.org
REST_COUNTRIES_BASE_URL=https://restcountries.com

# LLM
LLM_API_KEY=